
@font-face {
    font-family: "Work Sans";
    src: url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
    font-display: swap;
  }
@import 'variables';
@import 'mixins';
@import 'common';
@import 'reset';
@import 'media';
