// common classes
.container,
.container-fluid {
  width: 100%;
  margin: 0 auto;
}
.container {
  padding: 0 0;
  @include rem(padding-left, 25px);
  @include rem(padding-right, 25px);
  @include media(lg) {
    @include rem(padding-left, 75px);
    @include rem(padding-right, 75px);
  }
  @include media(xl) {
    @include rem(padding-left, 135px);
    @include rem(padding-right, 135px);
  }
}
.vh-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-animation {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;

  @include media(xl) {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "top left"
      "right right";
    column-gap: 20px;
  }
}

.animation {
  display: grid;
  grid-template-columns: 1fr;
  overflow: hidden;
}

.text-animation h1 {
  margin: 0;
  font-size: 6rem;
  text-transform: uppercase;

  &:nth-child(1) {
    animation: slide-up-left 1s forwards;
    @include media(xl) {
      grid-area: top;
    }
  }
  &:nth-child(2) {
    animation: slide-up-left 3s forwards;
    @include media(xl) {
      grid-area: left;
    }
  }
  &:nth-child(3) {
    animation: slide-up-left 4s forwards;
    @include media(xl) {
      grid-area: right;
    }
  }
}
.animation h2 {
  animation: slide-up-left 2s forwards;
}
.animation h3 {
  animation: slide-up-left 1s forwards;
}
.animation p {
  animation: slide-up-left 2s forwards;
}

@keyframes slide-up-left {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-up-right {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
