@mixin font-size($size) {
  font-size: ($size / $base-font-size) * 1rem;
}
@mixin rem($property, $px) {
  #{$property}: ($px / $base-font-size) * 1rem;
}

$breakpoints: (
  md: 48rem,
  //768px
  lg: 62rem,
  // 992px
  xl: 75rem,
  // 1200px
  xxl: 90rem,
  // 1440px
  xl2k: 2560px,
);

@mixin media($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
