/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
  }

  
  html {
    font-size: 100%; 
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
  
  }
  body {
    font-size: $base-font-size;
    line-height: 1.5;
  }
  
  h1 {
    font-size: 2.5rem; /* equivalent to 40px */
    line-height: 1.2;
  }
  
  a {
    text-decoration: none;
  }
  
