@import "base";

// navigation
nav {
  @extend .vh-center;
  @include rem(height, 81px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @include media(lg) {
    @include rem(margin, 20px);
    @include rem(height, 101px);
    margin-top: 0;
    width: unset;
    position: static;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include rem(padding-left, 25px);
    @include rem(padding-right, 25px);
    @include media(lg) {
      @include rem(padding-left, 39px);
      @include rem(padding-right, 39px);
    }
    .menuToggle {
      position: relative;
      z-index: 1;
      @include rem(width, 48px);
      @include rem(height, 48px);
      svg {
        @include rem(width, 22px);
        @include rem(height, 15px);
      }
      @include media(lg) {
        display: none;
      }
    }
    .nav-item {
      @include font-size(14px);
      @include rem(padding-top, 82px);

      position: fixed;
      background-color: #fff;
      width: 100%;
      height: 0;
      overflow: hidden;
      top: 100%;
      left: 0;
      z-index: 1;
      transition: all 0.3s ease;
      @include media(lg) {
        position: static;
        height: auto;
        padding-top: 0;
      }
      ul {
        list-style-type: none;
        @include media(lg) {
          display: flex;
          align-items: center;
          @include rem(gap, 20px);
        }
        li {
          a {
            display: block;
            padding: 1rem 2rem;
            @include font-size(16px);
            font-weight: 400;
            color: #000;
            @include media(lg) {
              padding: 0;
              @include font-size(14px);
              @include rem(line-height, 19.6px);
            }
          }
        }
      }

      &.active {
        top: 0;
        height: 100vh;
      }
    }

    .nav-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include rem(width, 163.39px);
      @include rem(height, 36px);
      color: $black;
      font-weight: 400;
      @include rem(padding, 17.66px);
      @include font-size(16px);
      position: relative;
      z-index: 2;
      @include media(lg) {
        @include rem(width, 148px);
        @include rem(padding-left, 10px);
        @include rem(padding-right, 10px);
      }
    }
  }
}

// Hero section

.hero {
  background-image: url("../images/pexels-tim-mossholder-974314.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include rem(min-height, 812px);
  @include rem(padding-top, 81px);
  transition: all 2s ease;
  @include media(lg) {
    @include rem(padding-top, 20px);
    background-image: url("../images/bg1.png");
  }
  @include media(lg) {
    @include rem(min-height, 900px);
  }
  .welcomeText {
    @include rem(margin-top, 179px);
    @include rem(margin-bottom, 15px);

    p {
      @include font-size(14px);
      @include media(lg) {
        @include font-size(16px);
      }
    }
  }

  .titleText {
    @include rem(margin-bottom, 169px);

    h1 {
      @include font-size(46px);
      @include rem(line-height, 46px);
      font-weight: normal;
      text-transform: capitalize;
      @include media(lg) {
        @include font-size(64px);
        @include rem(line-height, 64px);
      }
    }
  }

  .thumbnailWrap {
    .one,
    .two,
    .three,
    .four {
      background-color: $white;
      position: absolute;
      border: none;
      outline: none;
    }

    .one {
      top: 0;
      left: 0;
    }

    .two {
      top: 0;
      right: 0;
    }

    .three {
      bottom: 0;
      right: 0;
    }

    .four {
      bottom: 0;
      left: 0;
    }

    .thumbnailBorder {
      position: absolute;
      border: 1px solid #f9f4ee63;
      @include rem(width, 108px);
      @include rem(height, 108px);
      @include media(lg) {
        @include rem(width, 138px);
        @include rem(height, 138px);
      }
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      @include rem(padding, 15px);
      @include media(lg) {
        @include rem(padding, 22px);
      }

      .thumbImg {
        background-image: url("../images/1.png");
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all 1s ease;

        a {
          color: $white;
          @include font-size(14px);
          @include rem(line-height, 15.4px);
        }
      }
    }

    position: relative;
    @include rem(width, 115px);
    @include rem(height, 115px);
    @include media(lg) {
      @include rem(width, 145px);
      @include rem(height, 145px);
    }
  }

  .widthAnimation {
    animation: widthAnimation 1s ease;
    @include rem(width, 8px);
    @include rem(height, 8px);
  }

  @keyframes widthAnimation {
    from {
      width: 0;
    }

    to {
      width: 100%;
    }
  }

  .heightAnimation {
    animation: heightAnimation 2s ease;
    @include rem(width, 8px);
    @include rem(height, 8px);
  }

  @keyframes heightAnimation {
    from {
      height: 0;
    }

    to {
      height: 100%;
    }
  }
}
// about section
.aboutSection {
  @include rem(margin-top, 79px);
  @include rem(margin-bottom, 79px);
  h2 {
    @include font-size(30px);
    @include rem(line-height, 40px);
    @include rem(margin-bottom, 20px);
    font-weight: 400;
    text-align: center;
    @include media(lg) {
      @include font-size(56px);
      @include rem(line-height, 72px);
    }
  }

  p {
    color: $textGray;
    text-align: center;
    margin: 0 auto;
    @include rem(margin-top, 30px);

    @include rem(width, 312px);
    @include rem(line-height, 18.77px);
    @include font-size(16px);
    @include media(md) {
      @include rem(width, 500px);
      @include font-size(18px);
      @include rem(line-height, 22.15px);
    }
    @include media(lg) {
      @include rem(width, 748px);
      @include font-size(24px);
      @include rem(line-height, 28.15px);
    }

    @include media(xl) {
      @include rem(width, 748px);
    }
  }
}
